<h1><%= @place["name"] %></h1>

<h2>Journal Entries</h2>
<ul>
  <% for entry in @entries %>
    <li><strong><%= entry["title"] %></strong> - <%= entry["occurred_on"] %>
      <p><%= entry["description"] %></p>
    </li>
  <% end %>
</ul>

<p><a href="/places">Back to All Destinations</a></p>
<p><a href="/places/<%= @place["id"] %>/entries/new">New Entry</a></p>